<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <!--Navbar start-->
        <header>
            <%- include('navbar') %>
        </header>
        <div class="container">
            <h1 class="titulo">Agregar Producto</h1>
            <!--End of Navbar-->
            <div class="contenedor-agregar">
                <form action="/productos/agregar" method="post" enctype="multipart/form-data" class="agregar">
                    <div class="form-group">
                        <label for="nombre" class="subtext">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="precio" class="subtext">Precio:</label>
                        <input type="number" id="precio" name="precio" class="form-control" placeholder="Precio" required>
                    </div>
                    <div class="form-group">
                        <label for="stock" class="subtext">Stock:</label>
                        <input type="number" id="stock" name="stock" class="form-control" placeholder="Stock" required>
                    </div>
                    <!-- Campo para la descripción -->
                    <div class="form-group">
                        <label for="descripcion" class="subtext">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Descripción" required></textarea>
                    </div>
                    <!-- Campo para subir la imagen -->
                    <div class="form-group">
                        <label class="subtext">Imagen:</label>
                        <input type="file" id="imagen" name="imagen" class="form-control-file" accept="image/*">
                    </div>
                    <!-- Dropdown para categorías existentes -->
                    <div class="form-group">
                        <label for="categoria" class="subtext">Categoría:</label>
                        <select id="categoria" name="categoria" class="form-control">
                            <option value="">Seleccionar categoría existente</option>
                            <% categorias.forEach(function(categoria) { %>
                                <option value="<%= categoria.categoria %>"><%= categoria.categoria %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- Campo de texto para agregar nueva categoría -->
                    <!--<div class="form-group">
                        <label for="nueva_categoria" class="subtext">Nueva Categoría:</label>
                        <input type="text" id="nueva_categoria" name="nueva_categoria" class="form-control" placeholder="Nueva Categoría">
                    </div>-->
                    <!-- Dropdown para marcas existentes -->
                    <div class="form-group">
                        <label for="marca" class="subtext">Marca:</label>
                        <select id="marca" name="marca" class="form-control">
                            <option value="">Seleccionar marca existente</option>
                            <% marcas.forEach(function(marca) { %>
                                <option value="<%= marca.marca %>"><%= marca.marca %></option>
                            <% }); %>
                        </select>
                    </div>
                    <!-- Campo de texto para agregar nueva marca -->
                    <!--<div class="form-group">
                        <label for="nueva_marca" class="subtext">Nueva Marca:</label>
                        <input type="text" id="nueva_marca" name="nueva_marca" class="form-control" placeholder="Nueva Marca">
                    </div>-->
                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                </form>
            </div>
        </div>
        <div id="alerta" class="alert alert-success" style="display: none;">
            Registro de producto exitoso.
        </div>
        <script>
            // Función para obtener los parámetros de la URL por nombre
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
        
            // Verifica si hay un parámetro en la URL llamado "registroExitoso"
            var registroExitoso = getParameterByName('registroExitoso');
        
            // Muestra la alerta si el registro fue exitoso
            if (registroExitoso === 'true') {
                document.getElementById('alerta').style.display = 'block';
            }
        </script>
        <!--Footer start-->
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
