<!DOCTYPE html>
<html lang="es">
<%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <div class="container">
            <h1 class="titulo">Carrito de Compras</h1>
            <br>
            <ul>
                <% let totalPagar = 0; %>
                <% carrito.forEach(producto => { %>
                    <div class="carritoVista">
                        <li>
                            Producto: <%= producto.nombre %><br>
                            <form action="/actualizarCantidadEnCarrito/<%= producto.id %>" method="post">
                                Cantidad: <select name="cantidad">
                                    <% for (let i = 1; i <= producto.stock; i++) { %>
                                        <option value="<%= i %>"<%= i === producto.cantidad ? ' selected' : '' %>><%= i %></option>
                                    <% } %>
                                </select>
                                <button type="submit" class="btn btn-primary">Actualizar Cantidad</button>
                            </form>
                            Precio unitario: $<%= producto.precio %><br>
                            Subtotal: $<%= producto.precio * producto.cantidad %><br>
                            <% totalPagar += producto.precio * producto.cantidad; %>
                            <form action="/eliminarDelCarrito/<%= producto.id %>" method="post">
                                <button type="submit" class="btn btn-danger">Eliminar del Carrito</button>
                            </form>
                        </li>
                        <img src="<%= producto.imagen %>" alt="Carrito">
                    </div>
                    <br>
                <% }) %>
            </ul>
            <% if (carrito.length > 0) { %>
                <div style="text-align: center;"> <!-- Agrega un div para centrar -->
                    <a href="/Checkout" class="btn btn-primary" id="btnCheckout">
                        Realizar Compra - Total: $<%= totalPagar.toFixed(2) %>
                    </a>
                </div>
            <% } else { %>
                <p style="text-align: center;">No hay nada en el carrito</p>
            <% } %>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
