<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <div class="cuerpoPerfil">
            <div class="menuizquierdo">
                <ul class="lateralmenu">
                    <li><a href="/perfil">Información personal</a></li>
                    <li><a href="/perfil/modificar/contrasenia">Modificar Contraseña</a></li>
                    <li><a href="/perfil/direcciones">Direcciones</a></li>
                    <li><a href="/perfil/compras">Compras</a></li>
                    <li><a href="/cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
            <div>
                <h2>Compras Realizadas</h2>
                <ul>
                    <% compras.forEach((compra) => { %>
                        <li>
                            <button class="compra-button" data-compra-id="<%= compra.id %>">
                                Fecha de compra: <%= compra.fecha_compra %>
                            </button>
                            <div class="productos-comprados" id="productos-comprados-<%= compra.id %>">
                                <!-- Aquí se mostrarán los productos comprados de esta compra -->
                                <% compra.productos.forEach((producto) => { %>
                                    <!-- Muestra detalles del producto, como nombre, cantidad, etc. -->
                                    Nombre del producto: <%= producto.nombre %>, Cantidad: <%= producto.cantidad %>
                                <% }) %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>