<!DOCTYPE html>
<html lang="es">
<%- include('head') %>
<body>
    <header>
        <%- include('navbar') %>
    </header>
    <div class="container">
        <div class="subcontainer-check">
            <h2 class="titulo">Selecci贸n de Direcci贸n:</h2>
            <br>
            <form action="/seleccionarDireccion" method="post" class="formulario">
                <ul>
                    <% if (direcciones && direcciones.length > 0) { %>
                        <% direcciones.forEach((direccion) => { %>
                            <li style="list-style: none; font-size: 20px;">
                                <label>
                                    <input type="radio" name="direccion_envio" value="<%= direccion.id %>">
                                    <strong>Direcci贸n:</strong>
                                    <%= direccion.calle %>, <%= direccion.numero_exterior %>, <%= direccion.ciudad %>, <%= direccion.colonia %>, <%= direccion.cp %>
                                </label>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>No se encontraron direcciones para este usuario.</li>
                    <% } %>
                </ul>
                <button type="submit" class="btn btn-primary" id="botonSelecDir">Seleccionar Direcci贸n</button>
            </form>
        </div>
    </div>
</body>
</html>
