<!-- direcciones.ejs -->
<!DOCTYPE html>
<html lang="es">
    <%- include('head')%>
    <body>
        <header>
            <%- include('navbar')%>
        </header>
        <div class="botonesDireccion">
            <button class="btn btn-primary" id="botonAgregar"><a href="/perfil/direcciones/agregar">Agregar Direccion</a></button>
        </div>
        <div class="cuerpoPerfil">
            <div class="menuizquierdo">
                <ul class="lateralmenu">
                    <li><a href="/perfil">Información personal</a></li>
                    <li><a href="/perfil/direcciones">Direcciones</a></li>
                    <li><a href="/perfil/compras">Compras</a></li>
                    <li><a href="/cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
            <div>
                <h2>Direcciones Guardadas</h2>
                <ul>
                    <% direcciones.forEach((direccion) => { %>
                        <li>
                            <%= direccion.calle %>, <%= direccion.numero_exterior %>, <%= direccion.colonia %>, <%= direccion.ciudad %>, <%= direccion.cp %>
                            <a href="/perfil/direcciones/modificar/<%= direccion.id %>">Modificar</a>
                            <form action="/perfil/direcciones/eliminar" method="post">
                                <input type="hidden" name="direccionId" value="<%= direccion.id %>">
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() })%>
    </body>
</html>