<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/filtro.js"></script>
        <header>
            <%- include('navbar') %>
        </header>
        <div class="container">
            <h1 class="titulo">Productos</h1>
            <br>
            <div class="row">
                <% products.forEach((product) => { %>
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= product.imagen %>" class="card-img-top" alt="Imagen del producto">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;"><%= product.nombre %></h5>
                                <p class="card-text" style="text-align: center;">Categoría: <%= product.categoria %></p>
                                <p class="card-text" style="text-align: center;">Stock: <%= product.stock %></p>
                                <p class="card-text" style="text-align: center;">Precio: $<%= product.precio %></p>
                                <a href="#" class="btn btn-primary" style="width: 100%;">$<%= product.precio%></a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
