<!DOCTYPE html>
<html lang="es">
<%- include('head') %>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/filtro.js"></script>
    <script>
        function confirmDelete() {
            return confirm('¿Estás seguro de que deseas eliminar este producto?')
        }
    </script>
    <header>
        <%- include('navbar') %>
    </header>
    <div class="container">
        <h1 class="titulo">Productos<% if(userRole == "administrador" || userRole == "editor") { %> totales (<%= products.length %>)<% } %></h1>
        <br>
        <a href="/productos/agregar" class="btn btn-primary btn-sm mx-auto" style="display: flex; justify-content: center;">Agregar Producto</a>
        <br>
        <a href="/exportar" class="btn btn-primary btn-sm mx-auto" style="display: flex; justify-content: center;">Exportar libro Excel</a>
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-2">Imagen</th>
                    <th class="col-2">Nombre</th>
                    <th class="col-2">Categoría</th>
                    <th class="col-2">Stock</th>
                    <th class="col-2">Precio</th>
                    <th class="col-2">Marca</th> <!-- Nueva columna -->
                    <% if (userRole === "administrador") { %>
                        <th class="col-2">Acciones</th>
                    <% } else if (userRole === "editor") { %>
                        <th class="col-2">Editar</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product) => { %>
                    <tr>
                        <td class="col-2">
                            <a href="/productos/<%= product.id %>" method="get">
                                <img src="<%= product.imagen %>" alt="Imagen del producto" style="max-width: 100px;">
                            </a>
                        </td>
                        <td class="col-2"><%= product.nombre %></td>
                        <td class="col-2"><%= product.categoria %></td>
                        <td class="col-2">
                            <% if (product.stock <= 0) { %>
                                Sin stock
                            <% } else { %>
                                <%= product.stock %>
                            <% } %>
                        </td>
                        <td class="col-2">$<%= product.precio %></td>
                        <td class="col-2"><%= product.marca %></td> <!-- Nueva columna -->
                        <% if (userRole === "administrador") { %>
                            <td class="col-2">
                                <a href="/productos/<%= product.id %>/editar" class="btn btn-warning btn-sm" id="botonUSUARIO"> <img src="/images/edit.svg" alt="editar"> Editar</a>
                                <form action="/productos/<%= product.id %>/eliminar" method="post" onsubmit="return confirmDelete();">
                                    <button type="submit" class="btn btn-danger btn-sm" id="botonUSUARIO"><img src="/images/x.svg" alt=""> Eliminar</button>
                                </form>
                            </td>
                        <% } else if (userRole === "editor") { %>
                            <td class="col-2">
                                <a href="/productos/<%= product.id %>/editar" class="btn btn-warning btn-sm" id="botonUSUARIO">Editar</a>
                            </td>
                        <% } %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="div-marcas">
            <a href="/marcas/agregar" class="btn btn-primary btn-sm mx-auto" style="margin-right: 10px;">Agregar Marca</a>
            <a href="/marcas/editar" class="btn btn-warning btn-sm mx-auto">Editar Marca</a>
        </div>
        <br>
        <a href="/categorias/agregar" class="btn btn-primary btn-sm mx-auto" style="display: flex; justify-content: center;">Agregar Categoria</a>
        <br>
    </div>
    <%- include('footer', { currentYear: new Date().getFullYear() }) %>
</body>
</html>
