<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
    <div class="container">
        <h1 class="titulo">Listado de Productos</h1>
        <div class="row">
            <% products.forEach((product) => { %>
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <!-- Puedes usar product.imagen_path para la ruta de la imagen -->
                        <img src="<%=product.imagen%>" class="card-img-top" alt="Imagen del producto">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.nombre %></h5>
                            <!--<p class="card-text"><%= product.descripcion %></p>-->
                            <p class="card-text">Categoría: <%= product.categoria %></p>
                            <p class="card-text">Stock: <%= product.stock %></p>
                            <p class="card-text">Precio: <%= product.precio %></p>
                            <!-- Agrega aquí cualquier otra información que desees mostrar -->
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    

        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
