<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <div class="container">
            <div class="producto">
                <h1 class="titulo"><%= product.nombre %></h1>
                <img class="imagenproducto" src="../<%= product.imagen %>" alt="<%= product.nombre %>">
                <p><%= product.descripcion %></p>
                <p>Stock: <%= product.stock %></p>
                <% if (userRole == "cliente") { %>
                    <form action="/agregarAlCarrito" method="post">
                        <input type="hidden" name="productId" value="<%= product.id %>">
                        <label for="cantidad">Cantidad:</label>
                        <select name="cantidad" id="cantidad">
                            <% for (let i = 1; i <= product.stock; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                    </form>
                <% } %>
            </div>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>