<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <form class="formulario" method="POST" action="/reset-password">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="correo" value="<%= correo %>">
            <div class="form-group">
                <h2 class="titulo">Restablecer contraseña</h2>
                <br><br>
                <label for="contraseña">Contraseña: </label>
                <input type="text" class="form-control" id="contrasenia" name="contrasenia" required>
                <label for="confirmar-contraseña">Confirmar contraseña: </label>
                <input type="text" class="form-control" id="confirmarcontrasenia" name="confirmarcontrasenia" required>
            </div>
            <!-- Botón para enviar la solicitud de recuperación -->
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </form>
        <!--Footer start-->
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>