<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <div class="container">
            <h1 class="titulo">Usuarios Totales (<%= usuariosAdmin.length + usuariosEditor.length + usuariosCliente.length %>)</h1>
            <div class="centrar">
                <a href="/registro" class="btn btn-primary btn-sm mx-auto" style="display: flex; justify-content: center;">Agregar Usuario</a>
                <h2>Administradores (<%= usuariosAdmin.length%>)</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-4">Nombre</th>
                            <th class="col-4">Correo</th>
                            <th class="col-4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuariosAdmin.forEach((user) => { %>
                            <tr>
                                <td class="col-4"><%= user.nombre %></td>
                                <td class="col-4"><%= user.correo %></td>
                                <td class="col-4">
                                    <a href="/usuarios/<%= user.id %>/editar" class="btn btn-warning btn-sm">Editar</a>
                                    <% if(usuario.nombre != user.nombre) { %>
                                        <form action="/usuarios/<%= user.id %>/eliminar" method="post" onsubmit="return confirmDelete();">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <h2>Editores (<%= usuariosEditor.length%>)</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-4">Nombre</th>
                            <th class="col-4">Correo</th>
                            <th class="col-4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuariosEditor.forEach((user) => {  %>
                            <tr>
                                <td class="col-4"><%= user.nombre %></td>
                                <td class="col-4"><%= user.correo %></td>
                                <td class="col-4">
                                    <a href="/usuarios/<%= user.id %>/editar" class="btn btn-warning btn-sm">Editar</a>
                                    <% if(usuario.nombre != user.nombre) { %>
                                        <form action="/usuarios/<%= user.id %>/eliminar" method="post" onsubmit="return confirmDelete();">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <h2>Clientes (<%= usuariosCliente.length%>)</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-4">Nombre</th>
                            <th class="col-4">Correo</th>
                            <th class="col-4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuariosCliente.forEach((user) => {%>
                            <tr>
                                <td class="col-4"><%= user.nombre %></td>
                                <td class="col-4"><%= user.correo %></td>
                                <td class="col-4">
                                    <a href="/usuarios/<%= user.id %>/editar" class="btn btn-warning btn-sm">Editar</a>
                                    <% if(usuario.nombre != user.nombre) { %>
                                        <form action="/usuarios/<%= user.id %>/eliminar" method="post" onsubmit="return confirmDelete();">
                                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                        </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
        <script>
            function confirmDelete() {
                return confirm('¿Estás seguro de que deseas eliminar este usuario?');
            }
        </script>
    </body>
</html>